<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @canvas.title %>
</p>

<p>
  <b>Problem:</b>
  <%= @canvas.problem %>
</p>

<p>
  <b>Solution:</b>
  <%= @canvas.solution %>
</p>

<p>
  <b>Key metric:</b>
  <%= @canvas.key_metric %>
</p>

<p>
  <b>Unique value proposition:</b>
  <%= @canvas.unique_value_proposition %>
</p>

<p>
  <b>Unfair advantage:</b>
  <%= @canvas.unfair_advantage %>
</p>

<p>
  <b>Channel:</b>
  <%= @canvas.channel %>
</p>

<p>
  <b>Customer segment:</b>
  <%= @canvas.customer_segment %>
</p>

<p>
  <b>Cost structure:</b>
  <%= @canvas.cost_structure %>
</p>

<p>
  <b>Revenue stream:</b>
  <%= @canvas.revenue_stream %>
</p>


<%= link_to 'Edit', edit_canvas_path(@canvas) %> |
<%= link_to 'Back', canvases_path %>
